<!doctype html>
<html>
<head>
    <%- include("../fragmente/head.ejs") %>
    <title>Galerie animata</title>
</head>
<body>
    <%- include("../fragmente/header.ejs") %>
    
<main>


    <section id="" >
        <h2>Galerie animata</h2>
        <div id="galerie_animata" class="galerie">
                <figure>
                    <img src="imagini/galerie_animata/Helsinki.png" alt="" />
                    <figcaption>Helsinki, Finlanda</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/Amsterdam.png" alt="" />
                    <figcaption>Amsterdam, Olanda</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/SanJuan.png" alt="" />
                    <figcaption>San Juan, Puerto Rico</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/Moscova.png" alt="" />
                    <figcaption>Moscova, Rusia</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/Valencia.png" alt="" />
                    <figcaption>Valencia, Spania<figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/Bogota.png" alt="" />
                    <figcaption>Bogota, Columbia</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/Bangkok.png" alt="" />
                    <figcaption>Bangkok, Tailanda</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/Sydney.png" alt="" />
                    <figcaption>Sydney, Australia</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/Malta.png" alt="" />
                    <figcaption>Valletta, Malta</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/Hamburg.png" alt="" />
                    <figcaption>Hamburg, Germania</figcaption>
                </figure>
                <figure>
                    <img src="imagini/galerie_animata/AbuDhabi.png" alt="" />
                    <figcaption>Abu Dhabi, Emiratele Arabe Unite</figcaption>
                </figure>
        </div>
    </section>

</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>