<!DOCTYPE html>
<html lang="ro">

  <%- include("../fragmente/head.ejs") %>




<body>
  <%- include("../fragmente/header.ejs") %>


  <section id="galerie-statica">
    <h2>Galerie statica</h2>

  <div id="galerieStatica">
    <figure>
      <img src="imagini/galerie/bali.jpg" alt="Bali" />
      <figcaption>Bali</figcaption>
    </figure>
    <figure>
      <img src="imagini/galerie/cairo.jpg" alt="Cairo" />
      <figcaption>Cairo</figcaption>
    </figure>
    <figure>
      <img src="imagini/galerie/cinque-terre.jpg" alt="Cinque Terre" />
      <figcaption>Cinque Terre</figcaption>
    </figure>
    
    <figure>
      <img src="imagini/galerie/hraunfossar-waterfall.jpg" alt="Hraunfossar Waterfall" />
      <figcaption>Hraunfossar Waterfall</figcaption>
    </figure>
    <figure>
      <img src="imagini/galerie/istanbul.jpg" alt="Istanbul" />
      <figcaption>Istanbul</figcaption>
    </figure>
    <figure>
      <img src="imagini/galerie/kyoto.jpg" alt="Kyoto" />
      <figcaption>Kyoto</figcaption>
    </figure>
    
    <figure>
      <img src="imagini/galerie/pha-hang-noi.jpg" alt="Pha Hang Noi" />
      <figcaption>Pha Hang Noi</figcaption>
    </figure>
    <figure>
      <img src="imagini/galerie/rio-de-janeiro.jpg" alt="Rio de Janeiro" />
      <figcaption>Rio de Janeiro</figcaption>
    </figure>
    <figure>
      <img src="imagini/galerie/tanzania.jpg" alt="Tanzania" />
      <figcaption>Tanzania</figcaption>
    </figure>
  </div>
</section>
</body>



</html>