<!DOCTYPE html>
<html lang="ro">
<head>
	<title>Pagina principala</title>


    <%- include("../fragmente/head") %>
</head>
<body class="container">

<header>
	<%- include("../fragmente/header") %>
</header>

<main>
    Ai fost delogat!
</main>

<footer>
	<%- include("../fragmente/footer.ejs") %>
</footer>

</body>
</html>