<footer>
    e-mail: <a href="mailto:tache.florentina8@gmail.com">tache.florentina8@gmail.com</a>
    <address>Bucuresti, Romania</address>
    <a href="#" id="link-top" title="Mergi Sus">&#11161;</a>
  </footer>