<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="vacanta, descopera, destinatii"> 
    <meta name="description" content="Pagina introductiva"> 
    <meta name="author" content="Tache Florentina">
    <title>Finder</title>
    <link rel="shortcut icon" type="image/x-icon" href="/imagini/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Amatic%20SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Reenie%20Beanie' rel='stylesheet'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />

    <link rel="stylesheet" href="/css_files/style.css" type="text/css" />
    <link rel="stylesheet" href="/css_files/style_700.css" type="text/css" media="screen and (max-width: 1000px)" />
    <link rel="stylesheet" href="/css_files/style_500.css" type="text/css" media="screen and (max-width: 500px)" />
    <link rel="stylesheet" href="/css_files/index.css" type="text/css" />
    <link rel="stylesheet" href="/css_files/galerie_animata.css" type="text/css" />
    <link rel="stylesheet" href="/css_files/main.css" type="text/css" />


 <script src="scripturi/script.js"></script>
 <script src="scripturi/inregistrare.js"></script>
  </head>
  